<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>Stats</title>


  <script src="https://unpkg.com/vue@next"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <style>
  .list-group {
      display: inline-block
    }
    .right-block {
     white-space: pre-wrap;}





















  </style>
</head>

<body>

<p></p>
<p></p>
<p></p>
<div class="container" id="app">
  <div class="row">
    <div class="list-group col">
      <div v-for="item in history" class="row justify-content-evenly">
        <button type="button" class="list-group-item border-0 list-group-item-action" :class="listActive"
                @click="load(item,$event)">
          {{ item.line }}
        </button>
      </div>
    </div>
    <div class="col-md-10 right-block">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" :class="reqClass" href="#" v-on:click="funcShowRequest()">Request</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" :class="resClass" href="#" v-on:click="funcShowResponse()">Response</a>
        </li>
      </ul>
      <p></p>
      <div v-if="showRequest">
        <pre>{{ request }}</pre>
      </div>
      <div v-if="showResponse">
        <pre>{{ response }}</pre>
      </div>
    </div>
  </div>
</div>
</div>


<script type="module" src="/js/stats.js"></script>

</body>

</html>