<html>
<head>
  <script src="https://unpkg.com/vue@next"></script>

</head>
<body>
<div id="container" class="relative min-h-screen md:flex">
  <side-bar></side-bar>
  <content-div></content-div>

</div>
</body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://pagecdn.io/lib/ace/1.4.13/ace.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/theme-monokai.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/mode-java.min.js"></script>
<script src="https://unpkg.com/mitt/dist/mitt.umd.js"></script>
<script src="/tunnellist.js"></script>
<script src="/actions.js"></script>
<script src="/sidebar.js"></script>
<script src="/content.js"></script>
<script src="/main.js"></script>
</html>